header#header_block
  div.header_banner.show-for-medium-up
    div#site_logo
    h1#site_title
      a(href="#")
        span#site_title_starfox
          strong Starfox
        span#site_title_intergalactic.
          Intergalactic Travel Agency
  div.row
    div.small-12.columns
      nav(class="top-bar", data-topbar, role="navigation")
        ul.title-area.show-for-small-only
          li.name
            h1
              a(href="#")
                span
                  strong Star
                | Fox
          li.toggle-topbar.menu-icon
            a(href="#")
              span
                
        section.top-bar-section
          ul.main_intro_right
            li
              a(href="#") Home
            li
              a(href="#") About
            li
              a(href="#") Services
            li
              a(href="#") Interstellar Travel
