<h1>Hello World</h1>
<%= 2 + 5 %>
<p>More text</p>
<p>
  <% if (myname == "this stuff") { %>
    <span>You own this stuff</span>
  <% } else { %>
    <span>My stuff, get your own</span>
  <% } %>
</p>
<ul>
<% for (var i = 0; i < mypets.length; i++) { %>
   <li><%= mypets[i] %></li>
<% } %>
</ul>
