mixin render_pet(pet)
  li= pet

extends ./layout.jade

block content
  p test #{ 2 + 5 }
  p
    if (myname === "this stuff")
      span these are my stuffs
    else
       | these stuffs are for #{myname}

  ul
    each pet in mypets
        +render_pet(pet)

block copyright
  | &copy; My Stuff
